_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.*.swp
*.po

# ignore private scripts and directories, eg. jekyll-build-local.prv.sh
*.prv*

# ignore tools/tranlations, we copy the files to the corresponding language directories
tools/translations/

build/

# for an optional virtual env folder
venv/ 

vendor/bundle