{% assign tx = site.data.lang[page.lang][page.lang] %}
{% assign txEn = site.data.lang['en']['en'] %}
{% assign new_post_count = 12 %}

{% if page.lang == 'fa' %}
  {% assign blog_posts = site.fa_posts | sort: 'date' | reverse %}
{% else %}
  {% assign blog_posts = site.posts %}
{% endif %}

{% for post in blog_posts limit:new_post_count %}
<div class="post-box">
  <a href="..{{ post.url }}">
    {% if post.image %}
    <div class="featured-image">
      <img src="{{ post.image }}" />
    </div>
    {% endif %}
    <h2>{{ post.title }}</h2>
  </a>
  <p>
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y/%m/%d" }}</time> -
    {{ post.excerpt | strip_html }} 
    <a href="..{{ post.url }}">{% if tx.blog.read_on != "" %}{{ tx.blog.read_on }}{% else %}{{ txEn.blog.read_on }}{% endif %}</a>
  </p>
</div>
{% endfor %}
<h2>{% if tx.blog.older_posts != "" %}{{ tx.blog.older_posts }}{% else %}{{ txEn.blog.older_posts }}{% endif %}</h2>
{% for post in blog_posts offset:new_post_count %}
<div>
	<p>
		<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y/%m" }}</time> -
		<a href="..{{ post.url }}">{{ post.title }}</a>
	</p>
</div>
{% endfor %}
