{% assign index = 0 %}
{% for post in site.posts %}
{% assign index = index | plus:1 %}
{% if post.image and index <= 12 %}
<div class="post-box">
  <a href="..{{ post.url }}">
    <div class="featured-image">
      <img src="{{ post.image }}" />
    </div>
    <h2>{{ post.title }}</h2>
  </a>
  <p>
    <em>{{ post.date | date: "%B %d, %Y" }}</em> -
    {{ post.excerpt | strip_html }} 
    <a href="..{{ post.url }}">Read on...</a>
  </p>
</div>
{% else %}
<div>
  {% if index == 13 %}
  <h2>Older posts</h2>
  {% endif %}
  <p>
    <em>{{ post.date | date: "%B %Y" }}</em> -
    <a href="..{{ post.url }}">{{ post.title }}</a>
  </p>
</div>
{% endif %}
{% endfor %}
