{% assign tx = site.data.lang[page.lang][page.lang] %}

<div class="download-content">
    <div id="recommendation-section" hidden>
        <h1>{{tx.download.recommendation}}:</h1>
        <div id="recommend"></div>
        <h1>{{tx.download.other}}:</h1>
    </div>
    <div id="boxes">
        <div class="box" id="linux">
            <a href="https://github.com/deltachat/deltachat-desktop" class="source-link">{{tx.download.source_code}}</a>
            <div class="title">GNU+Linux</div>
            <div class="buttons">
                <a href="https://download.delta.chat/desktop/DeltaChat.0.840.0.fixed.amd64.deb" class="big-button">Debian / Ubuntu (.deb)</a>
                <a href="https://download.delta.chat/desktop/DeltaChat.0.840.0.fixed.AppImage" class="big-button">Universal (.AppImage)</a>
                <a href="https://flathub.org/apps/details/chat.delta.desktop" class="soon img-badge">
                    <img src="../assets/badges/flathub.svg" alt="{{tx.download.flathub}}" />
                </a>
            </div>
            <div class="sub-title">{{tx.download.install_via_packagemanager}}</div>
            <p>
                Arch <a href="https://aur.archlinux.org/packages/deltachat-desktop-git/">(AUR)</a>:
                <code>yay -S deltachat-desktop-git</code>
                <br>
                <a href="https://flathub.org/apps/details/chat.delta.desktop">Flatpak</a> ({{tx.download.outdated}}):
                <code>flatpak install flathub chat.delta.desktop</code>
            </p>
        </div>
        <div class="box" id="windows">
            <a href="https://github.com/deltachat/deltachat-desktop" class="source-link">{{tx.download.source_code}}</a>
            <div class="title">Windows</div>
            <div class="buttons">
                <a href="https://download.delta.chat/desktop/DeltaChat.Setup.0.840.0.fixed.exe" class="big-button">Setup (.exe)</a>
                <a class="soon big-button">Portable (.exe)</a>
                <a class="soon img-badge">
                    <img src="../assets/badges/microsoft.svg" alt="{{tx.download.dl_microsoft}}" />
                </a>
            </div>    
        </div>
        <div class="box" id="osx">
            <a href="https://github.com/deltachat/deltachat-desktop" class="source-link">{{tx.download.source_code}}</a>
            <div class="title">macOS</div>
            <div class="buttons">
                <a href="https://download.delta.chat/desktop/DeltaChat-0.840.0.fixed.dmg" class="big-button">DMG</a>
                <a class="soon img-badge">
                    <img src="../assets/badges/mac-appstore.svg" alt="{{tx.download.dl_mac_appstore}}" />
                </a>
            </div>
        </div>
        <div class="box" id="ios">
            <a href="https://github.com/deltachat/deltachat-ios" class="source-link">{{tx.download.source_code}}</a>
            <div class="title">iOS (iPhone)</div>
            <div class="buttons">
                <a href="https://testflight.apple.com/join/uEMc1NxS"><small>{{tx.download.beta_on}}</small> Testflight</a>
                <a class="soon img-badge">
                    <img src="../assets/badges/get-it-on-ios.png" alt="{{tx.download.dl_appstore}}" />
                </a>
            </div>
        </div>
        <div class="box" id="android">
            <a href="https://github.com/deltachat/deltachat-android" class="source-link">{{tx.download.source_code}}</a>
            <div class="title">Android</div>
            <div class="buttons">
                <a href="" class="big-button soon">APK</a>
                <a href="https://f-droid.org/app/com.b44t.messenger" class="img-badge">
                    <img src="../assets/badges/get-it-on-fdroid.png" alt="{{tx.download.dl_fdroid}}" />
                </a>
                <a href="https://play.google.com/store/apps/details?id=chat.delta" class="img-badge">
                    <img src="../assets/badges/get-it-on-gplay-beta.png" alt="{{tx.download.beta_gplay}}"  />
                </a>
                <a class="soon"><small>{{tx.download.dl_amazon.small}}</small>{{tx.download.dl_amazon.title}}</a>
            </div>
            <p>
            {{tx.download.dl_apk_text.before}}
                <a href="https://download.delta.chat/android/">
                APK
                </a>
            {{tx.download.dl_apk_text.after}}
            </p>
        </div>
    </div>
</div>
<script src="../assets/js/download-page.js"></script>
