<div class="landing-af col-desk-12">
  <div class="landing-cta col-desk-6">
    <h1>
      <strong>delta</strong>.chat
    </h1>
    <h2>messaging with everyone</h2>
  </div>

  <div class="landing-images col-desk-6">
    <div class="desktop">
      <img src="../assets/blog/desktop-screenshot.png" /> 
    </div>
    <div class="overlay">
      <div class="android">
        <img src="../assets/blog/screenshots/2019-12-17-delta-chat-google-play-release-chat-list-light.png" />
      </div>
      <div class="ios">
        <img src="../assets/blog/screenshots/2020-01-09-delta-chat-iOS-weekend-group-chat.png" />
      </div>
    </div>
  </div>
</div>


