<div class="grid">
  <div class="col-desk-12 col-mob-4">
    <div class="landing-af">
      <div class="landing-cta col-desk-6 col-tab-12 col-mob-4">
        <h1>
          <strong>delta</strong>.chat
        </h1>
        <h2>messaging with everyone</h2>
        <a class="call-to-action" href="download">Get Started</a>
      </div>

      <div class="landing-images">
        <div class="android">
          <img src="../assets/home/android-chat-list.png" />
        </div>
        <div class="ios" style="margin-bottom: 2em;">
          <img src="../assets/blog/screenshots/2020-01-09-delta-chat-iOS-weekend-group-chat.png" />
        </div>
      </div>
    </div> 
  </div>
</div>


