$background-color: #0D0836;
$highlight-color: #1A72EE;
$text-color: #FFFFFF;

body {
  font-family: $sans-serif-font;
  background-color: $background-color;
  color: $text-color;
  font-weight: 200;
}

i {
  font-weight: 200;
  font-style: italic;
}

b, strong {
  font-weight: 400;
}

a {
  color: $text-color;
  text-decoration: none;
  transition: color 0.3s ease-in;

  &:visited {
    color: $text-color;
  }
  
  &:hover {
    color: $highlight-color;
  }
}


.body {
  display: flex;
  flex-direction: column;
}
