/* reset
*******************************************************************************/

* {margin:0;padding:0} iframe,a img,fieldset,form,table {border:0} caption,th,td {font-size:100%;}
dd,dt,li,dl,ul,ol {list-style:none} legend {color:#000} select,textarea,input {font:100% serif} table {border-collapse:collapse} caption,td{font-weight:normal;} caption,th,td {text-align:left;}



/* rough layout: mobile first 
*******************************************************************************/

nav {
    text-align: center;
    margin-bottom: 1em;
    padding: 8px 5px;
    background-color: #566a73;
    background-image: linear-gradient(120deg, #77888f, #364e59);
}
	
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
}
    
nav li {
    display: inline-block;

    a, a:visited {
        color: #fff;
    }
}


main {
    padding: 0em 1em 0.5em 1em;	
}	

main p img {
    max-width: 100% !important;
    max-height: 600px; /*avoid portrait smartphone screenshots becoming too big*/
    height: auto;
}

@media only screen and (max-width: 640px) {
	main p img, iframe {
	    float: none !important;
	}
	.post-box {
	    margin-top: 4em;
	}
}

footer {
    margin: 1.5em 0 2.5em 0;
    border-top: 1px solid #BBB;
    padding: 1em;
    color: #757575;
    text-align: center;
}
footer a, footer a:visited {
    color: #757575;
}
#languages {
    margin: 1em;
}

.featured-image {
    margin-top: 1em;
    margin-bottom: -2em;
	overflow: hidden;
    max-height: 180px !important;
    max-width: 270px;
}

.featured-image img {
	width: 100%;
}

/* larger font on homepage, may be removed or adapted whenever homepage changes */
#homepage-heading ~ p {
  font-size: 1.2em;
  margin-top: 1.6em !important;
  margin-bottom: 1.6em !important;
}

/* rough layout: desktop second 
*******************************************************************************/

@media only screen and (min-width: 640px) {
    nav {
        padding: 10px 0;

        ul {
            gap: 1em;
        }
    }
    nav li {
        a, a:visited {
            font-size: 1.125rem;
        }
    }

    .post-box {
	    min-height: 180px;
    }

    .featured-image {
        float: right;
        margin-top: 0;
        margin-bottom: 1em;
        margin-left: 20px;
    }

    main {
        margin: 0 auto;
        width: 75%;
        min-width: 580px;
        max-width: 800px;
    }
    footer {
        padding: 2em;
    }	
    #languages {
        margin: 1em 20vw;
    }
}


/* colors etc. 
*******************************************************************************/



/*space between content elements*/
main p, main ul, ol, h1, h2 {
    margin: 1em 0;
}

h1:not(:first-child), h2:not(:first-child), h3:not(:first-child) {
    margin-top: 2em;
}

p.blogdate {
	margin-bottom: 2em !important;
	font-style: italic;
}

/*colors*/

body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    line-height: 1.5;
}

nav, h1, h2, h3, h4, h5, h6 {
    font-family: Tahoma, sans-serif;
}

main ul, ol { margin-left: 1.5em; }
main ul li { list-style: disc outside; margin: 0.5em 0.2em; padding-left: 0.5em; }
ol li { list-style: decimal; margin: 0.5em 0.2em; padding-left: 0.5em; }

h1,h2 { font-weight: normal; font-size: 1.625rem; }
h3 { color: #159957; }
h4 { color: #159957; }

a, a:visited {
    color: #1e6bb8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;	
}

time {
    font-style: italic;
}

code, pre, blockquote { background-color: #eee; overflow-x: scroll;}
pre, blockquote { padding: 2px 1em; }
blockquote { font-style: italic; }

code {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

pre code {
    padding: 0px;
}

main table td, main table th { border: 1px solid #ccc; padding: 0.2em 0.4em; }
main table th { background-color: #eee; }

main hr { border: 1px solid #ddd; margin: 2em 0; }

.socials {
    display: inline-flex;
    gap: 12px;

    a {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
            height: 1em;
        }
    }
}

h1,h2,h3,h4,h5,h6 {
    &:hover {
        .anchor::before {
            content: "\1F517"
        }
    }
}


.footnotes {
    margin-top: 4em;
    margin-bottom: 4em;
}
.footnotes:before {
  content: "_______________________";
  color: #999;
}
.footnotes li {
    color: #999;
    font-size: .75rem;
}
.footnotes li a {
    color: #999;
    text-decoration: underline;
}
.reversefootnote {
    text-decoration: none !important;
}
sup[role="doc-noteref"]:before {
    content: "[";
}
sup[role="doc-noteref"]:after {
    content: "]";
}


@media print {
    header, footer, #load-comment, #comments-hint, .deltachat-banner {
        display: none !important;
    }
}
