html {
    --dl-button-bg: linear-gradient(120deg, #71828a, #4a6069) #159957;
    --dl-button-roundness: 5px;
    --dl-box-roundness: 4px;
}


.download-content {
    display: block;
    padding: 0 4pt;

    // #recommend>.box {

    // }

    .box {
        border: 1px solid #ddd;
        margin: 10pt 5pt;
        padding: 2px 2px 7pt 7pt;
        background-color: #e8e8e8;
        border-radius: var(--dl-box-roundness);

        &>p {
            margin: 2pt 0!important;
        }
    }

    .box>.title {
        font-size: 20px;
        margin-top: 5pt;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .box>.buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .box>.buttons>a:not(.img-badge) {
        background: var(--dl-button-bg);
        color: white;
        font-weight: bold;
        padding: 5px;
        margin: 3px;
        text-decoration: none;
        font-size: 18px;
        height: max-content;
        border-radius: var(--dl-button-roundness);
        line-height: 1.23;
    }

    .box>.buttons>a.img-badge {
        display: flex;
        align-content: center;
        margin: 3px;
        &>img{
            height: 48px;
        }
    }

    .box>.buttons>a.big-button {
        line-height: 37px;
        padding-left: 10px;
        padding-right: 12px;
        font-size: 20px;
    }

    small {
        display: block;
        font-size: 12px;
    }
}