.landing-af {
  display: flex;
  align-items: center;
  height: 800px;
  
  .landing-cta {
    h1 {
      font-size: 42px;
      strong {
        font-weight: 400;
      }
      font-weight: 200;
    }

    h2 {
      font-size: 26px;
      font-weight: 200;
    }
  }

  .landing-images {
    display: flex;
    max-height: 100%;
    margin-top: -150px;
    position: relative;
    
    .desktop {
      flex: 1;
      max-width: 100%;
      overflow: hidden;

      img {
        height: 500px;
      }
    }

    .overlay {
      bottom: -200px;
      left: 50px;
      position: absolute;
      max-width: 100%;
      display: flex;
      overflow: hidden;
      
      .android {

        img {
          border: 1px solid transparent;
          border-radius: 5px;
          height: 400px;
        }
      }
      
      .ios {
        padding-left: 50px;
        img {
          height: 400px;
        }
      }
    }
  }
} 

@media screen and (max-width: $grid-tablet-breakpoint) {
  .landing-af {
    flex-direction: column;
    height: auto;
    
    .landing-images {
      margin-top: 0;

      .desktop {
        img {
          height: auto;
          max-width: 100%;
        }
      }
      .overlay {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $grid-mobile-breakpoint) {
}
