.landing-af {
  display: flex;
  align-items: center;
  height: 800px;
  
  .landing-cta {
    h1 {
      font-size: 42px;
      strong {
        font-weight: 400;
      }
      font-weight: 200;
    }

    h2 {
      font-size: 26px;
      font-weight: 200;
    }

    a.call-to-action {
      display: inline-block;
      background-color: $highlight-color;
      border-radius: 10px;
      padding: 15px 25px;
      text-decoration: none;
      margin-top: 1em;
      margin-bottom: 2em;

      &:hover {
        color: #FFF;
      }
    }
  }

  .landing-images {
    display: flex;
    max-height: 100%;
    position: relative;

    .android {
      img {
        border: 1px solid transparent;
        border-radius: 5px;
        height: 600px;
      }
    }
    
    .ios {
      padding-left: 50px;
      img {
        height: 600px;
      }
    }
  }
} 

.landing-info-top {
  display: flex;
  
  .landing-info h2 {
    font-weight: 400;
    font-size: 56px;
    line-height: 60px;
    margin-top: 0.83em;
  }
}

@media screen and (max-width: $grid-tablet-breakpoint) {
  .landing-af {
    flex-direction: column;
    height: auto;
  }
}

@media screen and (max-width: $grid-mobile-breakpoint) {
  .landing-info-top {
    flex-direction: column;
  }

  .landing-af {
    .landing-images {
      flex-direction: column;
      img {
        padding-top: 1em;
        padding-bottom: 1em;
      }
      .ios {
        padding-left: 0px;
      }
    }
  }
}
