#menu-inner {
  display: flex;
  padding: 2em 0;
  height: 80px;

  border-bottom: 1px solid rgba(151, 151, 151, 0.14);

  a {
    text-decoration: none;
  }

  .logo a {
    &:hover {
      color: #FFF;
    }
  }
  .logo, .logo a {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    
    img {
      flex: 0 0 40px;
    }

    .text {
      padding-left: 25px;
      flex: 1;
      font-size: 2em;
    }
  }
  
  ul {
    display: flex;
    margin: 0;
    list-style: none;

    li.call-to-action {
      a {
        padding: 10px 15px;
        border-radius: 10px;
        background-color: $highlight-color;
        
        &:hover {
          color: #FFF;
        }
      }
    }
    li {
      flex: 1;
      text-align: right;
    }
  }
}


@media screen and (max-width: $grid-mobile-breakpoint) {
  #menu-inner {
    flex-direction: column;
    height: auto;

    ul {
      flex-direction: column;
      
      li {
        padding: 0.5em 0;
      }
    }
  }
}
