---
---
@import "main";

.download-button {
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	color: black;
	font-weight: bold;
}

#content h1:hover .anchor::before {
	content: unset;
}

:root {
	--emoji-size: 40px;
}

.home-emoji {
	font-size: var(--emoji-size);
	padding: 10px;
}

/* to avoid converting the markdown to HTML,
sibling selectors are used here to select
the first, second, and third p after .home-features */
.home-features + p, .home-features + p + p, , .home-features + p + p + p {
	display: block;
	min-height: var(--emoji-size);

	span {
		float: left;
	}
}

@media only screen and (min-width: 640px) {

  .home-features + p, .home-features + p + p, , .home-features + p + p + p {
  	display: flex;
  	align-items: center;
  	justify-content: flex-start;
  	white-space: nowrap;
  }
}
