---
---
@import "main";

.download-button {
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	color: black;
	font-weight: bold;
}

#content h1:hover .anchor::before {
	content: unset;
}

:root {
	--emoji-size: 34px;
	--emoji-spacing: 8px;
}

/* first feature emoji */
.home-features + p::before {
	content: "💬";
	min-height: var(--emoji-size);
}

/* second feature emoji */
.home-features + p + p::before {
	content: "🥳";
	min-height: var(--emoji-size);
}

/* third feature emoji */
.home-features + p + p + p::before {
	content: "🔒";
	min-height: var(--emoji-size);
}

/* all feature emojis */
.home-features + p::before, .home-features + p + p::before, .home-features + p + p + p::before {
	font-size: var(--emoji-size);
	padding-right: var(--emoji-spacing);
	position: relative;
	bottom: -5px;
}

/* all feature paragraphs */
.home-features + p, .home-features + p + p, .home-features + p + p + p {
	padding-left: 1.5em;
	text-indent: -2.8em;
	position: relative;
	left: 1.5em;
}
