<!DOCTYPE html>
<html>

<head>
<title>{{ page.title }} - Delta Chat</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<link rel="stylesheet" href="../public/layout/base.css" type="text/css" />
</head>

<body id="top">

<div id="menu">
<ul>
<li><a href="index.html"><span class="desktoponly">Startseite</span><span class="nodesktop">Start</span></a></li>
<li><a href="features.html">Warum</a></li>
<li><a href="download.html">Download</a></li>
<li><a href="support.html">Support</a></li>
<li><a href="for-business.html"><span class="desktoponly">Für </span>Firmen</a></li>
<li><a href="help.html"><span class="desktoponly">Hilfe</span><span class="nodesktop">?</span></a></li>
</ul>
</div>

<div id="content">

{{ content }}

</div>

<div id="footer">
<p>
© 2017 Delta Chat contributors &ndash; <a href="imprint.html">Impressum</a> 
&ndash; <span class="desktoponly">Language:</span> 
<a href="../en/">En</a> 
<a href="https://jaworski-pawel.github.io/Delta/">Pl</a>
<a href="../de/">De</a> 
</p>
</div>

</body>

</html>
