<!DOCTYPE html>
<html lang="es">

<head>
<title>{{ page.title }} - Delta Chat</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<meta name="description" content="Delta Chat - Mensajeria instantanea basada en Correo Electronico" />
<meta name="keywords" content="delta chat, email messaging app, download delta chat" />
<link rel="stylesheet" href="../assets/css/base.css" type="text/css" />
<link rel="alternate" href="https://delta.chat/feed.xml" type="application/atom+xml" title="Novedades en Delta Chat" />
</head>

<body id="top">

<div id="menu">
<ul>
<li><a href="../es/">Inicio</a></li>
<li><a href="features">Por qué?</a></li>
<li><a href="download">Descargar</a></li>
<li><a href="contribute">Soporte</a></li>
<li><a href="blog">Blog</a></li>
<li><a href="help">Preguntas</a></li>
</ul>
</div>

<div id="content">

{{ content }}

</div>

<div id="footer">
<p>
<span class="desktoponly">Lengua:</span>
{% include footer-languages.html %}
<br>
<a href="imprint">Aviso legal</a>
<br>
© 2017, 2018 Delta Chat contributors
</p>
</div>

</body>

</html>
