<!DOCTYPE html>
<html lang="nb">

<head>
<title>{{ page.title }} - Delta Chat</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<meta name="description" content="Delta Chat - E-postbasert lynmeldingsklient" />
<meta name="keywords" content="delta chat, e-postlynmeldingsprogram, last ned delta chat" />
{% include header-imports.html %}
<link rel="alternate" href="https://delta.chat/feed.xml" type="application/atom+xml" title="Delta Chat-nyheter" />
</head>

<body id="top">

<div id="menu">
<ul>
<li><a href="../nb/">Hjem</a></li>
<li><a href="features">Hvorfor</a></li>
<li><a href="gdpr">GDPR</a></li>
<li><a href="download">Last ned</a></li>
<li><a href="contribute">Bidra</a></li>
<li><a href="blog">Blogg</a></li>
<li><a href="help">O-S-S</a></li>
</ul>
</div>

<div id="content">


{{ content }}


</div>

<div id="footer">
<p>
<a href="references">Referanser</a> | <a href="imprint">Imprint</a>
| <a href="/de/gdpr-website">Privacy Policy</a>
<br>
<span class="desktoponly">Språk:</span>
{% include footer-languages.html %}
<br>
© 2017, 2018 Delta Chat-bidragsyterne
</p>
</div>

</body>

</html>
