<!DOCTYPE html>
<html lang="it">

<head>
<title>{{ page.title }} - Delta Chat</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<meta name="description" content="Delta Chat - Email Based Instant Messenger" />
<meta name="keywords" content="delta chat, email messaging app, download delta chat" />
{% include header-imports.html %}
<link rel="alternate" href="https://delta.chat/feed.xml" type="application/atom+xml" title="Delta Chat News" />
</head>

<body id="top">

<div id="menu">
<ul>
<li><a href="../it/">Home</a></li>
<li><a href="download">Download</a></li>
<li><a href="blog">Blog</a></li>
<li><a href="contribute">Supporta</a></li>
<li><a href="https://support.delta.chat">Forum</a></li>
<li><a href="help">FAQ</a></li>
</ul>
</div>

<div id="content">

{{ content }}

</div>

<div id="footer">
<p>
<a href="references">Riferimenti</a> | <a href="imprint">Imprint</a>
| <a href="/de/gdpr-website">Privacy Policy</a>
<br>
<span class="desktoponly">Lingue:</span>
{% include footer-languages.html %}
<br>
© 2017-2019 Delta Chat contributors
</p>
</div>

</body>

</html>
