<!DOCTYPE html>
<html lang="de">

<head>
<title>{{ page.title }} - Delta Chat</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<link rel="stylesheet" href="../assets/css/base.css" type="text/css" />
<link rel="alternate" href="https://delta.chat/feed.xml" type="application/atom+xml" title="Delta Chat News" />
</head>

<body id="top">

<div id="menu">
<ul>
<li><a href="../de/"><span class="desktoponly">Startseite</span><span class="nodesktop">Start</span></a></li>
<li><a href="features">Warum</a></li>
<li><a href="download">Download</a></li>
<li><a href="support">Mitwirken</a></li>
<li><a href="blog">Blog</a></li>
<li><a href="help"><span class="desktoponly">Hilfe</span><span class="nodesktop">?</span></a></li>
</ul>
</div>

<div id="content">

{{ content }}

</div>

<div id="footer">
<p>
© 2017 Delta Chat contributors
&ndash; <a href="imprint">Impressum</a>
&ndash; <span class="desktoponly">Sprache:</span>
{% include footer-languages.html %}
</p>
</div>

</body>

</html>
