<!DOCTYPE html>
<html lang="pt">

<head>
<title>{{ page.title }} - Delta Chat</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<link rel="stylesheet" href="../assets/css/base.css" type="text/css" />
<link rel="alternate" href="https://delta.chat/feed.xml" type="application/atom+xml" title="Delta Chat News" />
</head>

<body id="top">

<div id="menu">
<ul>
<li><a href="../pt/">Início</a></li>
<li><a href="features">Por quê?</a></li>
<li><a href="download">Baixe</a></li>
<li><a href="contribute">Como ajudar</a></li>
<li><a href="blog">Blog</a></li>
<li><a href="help">Perguntas</a></li>
</ul>
</div>

<div id="content">

{{ content }}

</div>

<div id="footer">
<p>
<a href="references">Referências</a> | <a href="imprint">Aviso legal</a>
<br>
<span class="desktoponly">Lingue:</span>
{% include footer-languages.html %}
<br>
© 2017, 2018 Delta Chat contributors
</p>
</div>

</body>

</html>
