<!DOCTYPE html>
<html lang="{{page.lang}}">
{% assign tx = site.data.lang[page.lang][page.lang] %}
{% assign txEn = site.data.lang['en']['en'] %}


<head>
<title>{{ page.title }} - Delta Chat</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<meta name="description" content="{{ content | strip_html | xml_escape | normalize_whitespace | truncate: 200 }}" />
<meta name="keywords" content="{%if tx.meta.keywords != ""%}{{ tx.meta.keywords }}{%else%}{{ txEn.meta.keywords }}{%endif%}" />
{% if page.downloads == true %}
<meta name="apple-itunes-app" content="app-id=1459523234">
{% endif %}

<meta property="og:title" content="Delta Chat: {{ page.title }}">
<meta property="og:description" content="{{ content | strip_html | xml_escape | normalize_whitespace | truncate: 200 }}">
<meta property="og:image" content="{%if page.image%}{{ page.image | replace:'../','https://delta.chat/' }}{%else%}https://delta.chat/assets/home/intro1.png{%endif%}">
<meta property="og:url" content="https://delta.chat{{ page.url }}">
<meta name="fediverse:creator" content="@delta@chaos.social">
<meta name="twitter:card" content="summary">

<link rel="stylesheet" href="../assets/css/styles.css" type="text/css" />
<link rel="alternate" href="https://delta.chat/feed.xml" type="application/atom+xml" title="{%if tx.rss_news_title != ""%}{{ tx.rss_news_title }}{%else%}{{ txEn.rss_news_title }}{%endif%}" />
<script defer src="../libresilient.js"></script>
<script defer src="https://cosmos.delta.chat/banner.js"></script>
</head>

<body id="top">

<nav class="menu">
<ul class="desktop-menu-items">
<li aria-hidden="true"><a href="../{{page.lang}}/"><img src="../assets/logos/delta-chat.svg" width="32" height="32" style="position: relative; bottom: -3px;" /></a></li>
{% include menu-items.html %}
</ul>
{% comment %} critical styles - so that both menus are not shown at once {% endcomment %}
<style>.mobile-menu-items, .mobile-menu {display: none;}</style>
<ul class="mobile-menu-items">
    <li aria-hidden="true"><a href="../{{page.lang}}/" style="display: flex;align-items: center;"><img src="../assets/logos/delta-chat.svg" width="32" height="32" style="margin-inline:0.4rem" /> Delta Chat</a></li>
    <li style="flex-grow: 1"></li>
    <li><label for="menu" id="open-menu">Menu</label></li>
</ul>
<input type="checkbox" style="display: none;" id="menu" />
<nav class="mobile-menu" id="mobile-menu">
    <ul>
        {% include menu-items.html %}
    </ul>
</nav>
</nav>

<div id="content">


{% if page.is_post == true %}
<h1>{{ page.title }}</h1>
<p class="blogdate">{{ page.date | date: "%B %d, %Y" }} {% if page.author %}by {{ page.author }}{% endif %}</p>
{% endif %}

{% if page.header != nil and page.header != "" %}
    <h1>{{page.header}}</h1>
{% endif %}

{% if page.downloads == true %}
    {% include download-boxes.html %}
{% endif %}

{% if page.name == "help.md" and tx.help.offline_hint != ""%}
    <blockquote><p>{{ tx.help.offline_hint }}</p></blockquote>
{%endif%}

{% if page.render_toc == true %}
    {% include toc.html html=content %}
{% endif %}

{% include anchor_headings.html html=content anchorClass="anchor" %}


{% if page.is_post == true %}
{% if page.com_id %}
{% include comments.html %}
{% endif %}
{% endif %}

</div>

<div id="footer">
<p>
    <a href="references">{%if tx.references != ""%}{{ tx.references }}{%else%}{{ txEn.references }}{%endif%}</a>
    | <a href="https://github.com/deltachat/">{%if tx.download.source_code != ""%}{{ tx.download.source_code }}{%else%}{{ txEn.download.source_code }}{%endif%}</a>
    | <a href="donate">{%if tx.donate != ""%}{{ tx.donate }}{%else%}{{ txEn.donate }}{%endif%}</a>
    | <a href="imprint">{%if tx.imprint != ""%}{{ tx.imprint }}{%else%}{{ txEn.imprint }}{%endif%}</a>
    | <a href="gdpr-website">{%if tx.privacy != ""%}{{ tx.privacy }}{%else%}{{ txEn.privacy }}{%endif%}</a>
</p>
<p id="languages">
{%if tx.language != ""%}{{ tx.language }}{%else%}{{ txEn.language }}{%endif%}:
{% include footer-languages.html %}
</p>
<p>
{% include subscribe-to-feed-links.html %}
<br>
© 2024 Delta Chat contributors <!-- when bumping year, see also .well-known/security.txt -->
</p>
</div>

<script src="../assets/js/dark-theme-image-replacement.js"></script>
</body>

</html>
