<!DOCTYPE html>
<html lang="en">

<head>
<title>{{ page.title }} - Delta Chat</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<meta name="description" content="Delta Chat - Email Based Instant Messenger" />
<meta name="keywords" content="delta chat, email messaging app, download delta chat" />
<link rel="stylesheet" href="../assets/css/base.css" type="text/css" />
<link rel="alternate" href="https://delta.chat/feed.xml" type="application/atom+xml" title="Delta Chat News" />
</head>

<body id="top">

<div id="menu">
<ul>
<li><a href="../sq/">Home</a></li>
<li><a href="features">Pse</a></li>
<li><a href="download">Shkarkim</a></li>
<li><a href="contribute">Jepni ndihmesë</a></li>
<li><a href="blog">Blog</a></li>
<li><a href="help">Ndihmë</a></li>
</ul>
</div>

<div id="content">

{{ content }}

</div>

<div id="footer">
<p>
<span class="desktoponly">Language:</span>
{% include footer-languages.html %}
<br>
<a href="imprint">Imprint</a>
<br>
© 2017, 2018 Delta Chat contributors
</p>
</div>

</body>

</html>
