<!DOCTYPE html>
<html lang="en">

<head>
<title>{{ page.title }} - Delta Chat</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<meta name="description" content="Delta Chat - Email Based Instant Messenger" />
<meta name="keywords" content="delta chat, email messaging app, download delta chat" />
<link rel="stylesheet" href="../assets/css/base.css" type="text/css" />
<link rel="alternate" href="https://delta.chat/feed.xml" type="application/atom+xml" title="Delta Chat News" />
</head>

<body id="top">

<div id="menu">
<ul>
<li><a href="../en/">Home</a></li>
<li><a href="features">Why</a></li>
<li><a href="download">Download</a></li>
<li><a href="contribute">Contribute</a></li>
<li><a href="blog">Blog</a></li>
<li><a href="help">FAQ</a></li>
</ul>
</div>

<div id="content">


{% if page.is_post == true %}
<h1>{{ page.title }}</h1>
<p class="blogdate">{{ page.date | date: "%B %d, %Y" }} {% if page.author %}by {{ page.author }}{% endif %}</p>
{% endif %}


{{ content }}


{% if page.is_post == true %}
<p class="menulike">
{% if page.previous.url %}<a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a> |{% endif %}
<a href="blog">Index</a>
{% if page.next.url %}| <a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>{% endif %}
</p>
<p class="menulike">Subscribe to our feed: {% include subscribe-to-feed-links.html %}</p>
{% endif %}


</div>

<div id="footer">
<p>
<span class="desktoponly">Language:</span>
{% include footer-languages.html %}
<br>
<a href="references">References</a> | <a href="imprint">Imprint</a>
<br>
© 2017, 2018 Delta Chat contributors
</p>
</div>

</body>

</html>
