<!DOCTYPE html>
<html lang="{{page.lang}}">
{% assign tx = site.data.lang[page.lang][page.lang] %}
{% assign txEn = site.data.lang['en']['en'] %}


<head>
<title>{{ page.title }} - Delta Chat</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<meta name="description" content="{%if tx.meta.description == blank%}{{ tx.meta.description }}{%else%}{{ txEn.meta.description }}{%endif%}" />
<meta name="keywords" content="{%if tx.meta.keywords == blank%}{{ tx.meta.keywords }}{%else%}{{ txEn.meta.keywords }}{%endif%}" />

<link rel="stylesheet" href="../assets/css/styles.css" type="text/css" />
<link rel="alternate" href="https://delta.chat/feed.xml" type="application/atom+xml" title="{%if tx.rss_news_title == blank%}{{ tx.rss_news_title }}{%else%}{{ txEn.rss_news_title }}{%endif%}" />
</head>

<body id="top">

<div id="menu">
<ul>
<li><a href="../{{page.lang}}/">{%if tx.menu.home == blank%}{{ tx.menu.home }}{%else%}{{ txEn.menu.home }}{%endif%}</a></li>
<li><a href="download">{%if tx.menu.download == blank%}{{ tx.menu.download }}{%else%}{{ txEn.menu.download }}{%endif%}</a></li>
<li><a href="blog">{%if tx.menu.blog == blank%}{{ tx.menu.blog }}{%else%}{{ txEn.menu.blog }}{%endif%}</a></li>
<li><a href="contribute">{%if tx.menu.contribute == blank%}{{ tx.menu.contribute }}{%else%}{{ txEn.menu.contribute }}{%endif%}</a></li>
<li><a href="help">{%if tx.menu.help == blank%}{{ tx.menu.help }}{%else%}{{ txEn.menu.help }}{%endif%}</a></li>
<li><a href="https://support.delta.chat">{%if tx.menu.forum == blank%}{{ tx.menu.forum }}{%else%}{{ txEn.menu.forum }}{%endif%}</a></li>
</ul>
</div>

<div id="content">


{% if page.is_post == true %}
<h1>{{ page.title }}</h1>
<p class="blogdate">{{ page.date | date: "%B %d, %Y" }} {% if page.author %}by {{ page.author }}{% endif %}</p>
{% endif %}

{% if page.header != blank %}
    <h1>{{page.header}}</h1>
{% endif %}

{% if page.downloads == true %}
    {% include download-boxes.html %}
{% endif %}

{% if page.render_toc == true %}
    {% include toc.html html=content %}
{% endif %}

{% include anchor_headings.html html=content anchorClass="anchor" %}


{% if page.is_post == true %}
<p class="menulike">
{% if page.previous.url %}<a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a> |{% endif %}
<a href="blog">Index</a>
{% if page.next.url %}| <a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>{% endif %}
</p>
<p class="menulike">{%if tx.subscribe_to_feed == blank%}{{ tx.subscribe_to_feed }}{%else%}{{ txEn.subscribe_to_feed }}{%endif%}: {% include subscribe-to-feed-links.html %}</p>
{% endif %}


</div>

<div id="footer">
<p>
<a href="references">{%if tx.references == blank%}{{ tx.references }}{%else%}{{ txEn.references }}{%endif%}</a> | <a href="imprint">{%if tx.imprint == blank%}{{ tx.imprint }}{%else%}{{ txEn.imprint }}{%endif%}</a>
| <a href="/de/gdpr-website">{%if tx.privacy == blank%}{{ tx.privacy }}{%else%}{{ txEn.privacy }}{%endif%}</a>
<br>
<span class="desktoponly">{%if tx.language == blank%}{{ tx.language }}{%else%}{{ txEn.language }}{%endif%}:</span>
{% include footer-languages.html %}
<br>
© 2020 Delta Chat contributors
</p>
</div>

</body>

</html>
