<!DOCTYPE html>
<html lang="ru">

<head>
<title>{{ page.title }} - Delta Chat</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<meta name="description" content="Delta Chat - месенджер основанный на электронной почте" />
<meta name="keywords" content="delta chat, приложение электронной почты, скачать delta chat" />
{% include header-imports.html %}
<link rel="alternate" href="https://delta.chat/feed.xml" type="application/atom+xml" title="Новости Delta Chat" />
</head>

<body id="top">

<div id="menu">
<ul>
<li><a href="../ru/">Главная</a></li>
<li><a href="download">Скачать</a></li>
<li><a href="blog">Блог</a></li>
<li><a href="contribute">Содействовать</a></li>
<li><a href="https://support.delta.chat">форум</a></li>
<li><a href="help">Помощь</a></li>
</ul>
</div>

<div id="content">

{{ content }}

</div>

<div id="footer">
<p>
<a href="references">Рекомендации</a> | <a href="imprint">Выходные данные</a>
| <a href="/de/gdpr-website">Privacy Policy</a>
<br>
<span class="desktoponly">Язык:</span> 
{% include footer-languages.html %}
<br>
© 2017-2019 Delta Chat участники
</p>
</div>

</body>

</html>
