<!DOCTYPE html>
<html lang="sq">

<head>
<title>{{ page.title }} - Delta Chat</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<meta name="description" content="Delta Chat - Shkëmbyes Mesazhesh të Atypëratyshëm Bazuar Në Email" />
<meta name="keywords" content="delta chat, aplikacion shkëmbimi mesazhesh përmes email-i, shkarkoni delta chat" />
<link rel="stylesheet" href="../assets/css/base.css" type="text/css" />
<link rel="alternate" href="https://delta.chat/feed.xml" type="application/atom+xml" title="Delta Chat News" />
</head>

<body id="top">

<div id="menu">
<ul>
<li><a href="../sq/">Kreu</a></li>
<li><a href="features">Pse</a></li>
<li><a href="download">Shkarkim</a></li>
<li><a href="contribute">Jepni ndihmesë</a></li>
<li><a href="blog">Blog</a></li>
<li><a href="help">Ndihmë</a></li>
</ul>
</div>

<div id="content">

{{ content }}

</div>

<div id="footer">
<p>
<a href="references">Referenca</a> | <a href="imprint">Imprint</a>
<br>
<span class="desktoponly">Gjuhë:</span>
{% include footer-languages.html %}
<br>
© 2017, 2018 Kontribuesit te Delta Chat
</p>
</div>

</body>

</html>
