name: Deploy Preview

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Get Pullrequest ID
      id: prepare
      run: |
        export PULLREQUEST_ID=$(echo "${{ github.ref }}" | cut -d "/" -f3)
        echo ::set-output name=prid::$PULLREQUEST_ID
        if [ $(expr length "${{ secrets.USERNAME }}") -gt "1" ]; then echo ::set-output name=uploadtoserver::true ;fi
    - name: Build the site in the jekyll/builder container
      run: |
        docker run \
        -v ${{ github.workspace }}:/srv/jekyll -v ${{ github.workspace }}/_site:/srv/jekyll/_site \
        jekyll/builder:latest /bin/bash -c "chmod 777 /srv/jekyll && jekyll build --future"
    - name: Replace build with error message
      if: steps.prepare.outputs.uploadtoserver
      uses: AEnterprise/rsync-deploy@v1.0
      env:
        DEPLOY_KEY: ${{ secrets.KEY }}
        USERNAME: ${{ secrets.USERNAME }}
        SERVER_PORT: 22
        FOLDER: _site
        SERVER_IP: delta.chat
        SERVER_DESTINATION: /var/www/html/_site/${{ steps.getid.outputs.prid }}
        ARGS: --delete -vhr
    - name: "Post links to details"
      if: steps.prepare.outputs.uploadtoserver
      run: |
        # URLs for API connection and uploads
        export GITHUB_API_URL="https://api.github.com/repos/deltachat/deltachat-pages/statuses/${{ github.event.after }}"
        export PREVIEW_LINK="https://delta.chat/${{ steps.prepare.outputs.prid }}/"
        # Post AppImage download link to check details
        export STATUS_DATA="{\"state\": \"success\", \
                             \"description\": \"Preview the page here:\", \
                             \"context\": \"Page Preview\", \
                             \"target_url\": \"${PREVIEW_LINK}\"}"
        curl -X POST --header "authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" --url "$GITHUB_API_URL" --header "content-type: application/json" --data "$STATUS_DATA"

