name: Push new strings to Transifex

on: 
  push:
    branches:
      - master

jobs:
  push-translations:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: install dependencies
      run: |
        sudo apt update
        sudo apt install -y translate-toolkit transifex-client python3-pip
        pip install massedit
    - name: tx init
      run: |
        echo "${{ secrets.transifexrc }}" > ~/.transifexrc
        # this replaces the following commands:
        #tx init --user=api --pass=${{ secrets.TXapitoken }}
        #tx set --auto-remote https://www.transifex.com/projects/p/delta-chat-pages/
    - name: tx push
      run: |
        tools/t-dance.sh push

